/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 26, 2024, 8:26:00 PM
    Author     : Jiang
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


.Bgr{
    width: 100%; 
    height: 100%;
    position: absolute; 
    mask-image: linear-gradient(180deg, white 10%, rgba(255, 255, 255, 0.10) 80%);
    opacity: 0.95; 
    backdrop-filter: blur(100%);
    z-index: -1;
    margin: 0;
    left: 0;
}
.Homepage{
    margin: 0;
    width: 100%; 
    height: 100%; 
    /*position: absolute;*/ 
    background: #0D0D0D;
    left: 0; 
    top: 0;
    float:none;
}
.Welcome{
    width: 100%;
    margin-top: 10%;
    height: 50%;
    /*background-color: red;*/
    span{
        
        display: block;
        text-align: center;
        color: white;
        font-size: 15vh;
        font-family: 'Outfit', sans-serif;
        opacity: 0.8;
        align-content: center;
    }
    .id1{
         font-weight: 500; 
         font-size: 13vh;
    }
    .id2{
        font-weight: 900; 
        font-size: 15vh;
    }
}
.slogan{
    display: block;
    width: 80%;        
    margin: 5% auto ;
    z-index: 100;
}
.slogan p{
    display: block;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 1vw;  
    margin: 0 0;
}
.Brief{
    font-weight: 600;
}
.SeeMore{
    color: white;
    font-weight: 300;
    text-decoration: underline;
}
.feedback-summary{
    width: 100%;
    /*position: relative;*/
    /*background-color: red;*/
    color: white;
    font-family: 'Outfit', sans-serif;
    .title{
        width: 100%;
        font-weight: 900;    
        font-size: 30px;
        display: block;
    }
    .feedback{
        margin: 10%;
        .contain-slide{
            /*height: 50vh;*/
            width: 100%;
            overflow-x: auto;    
            display: -webkit-inline-box;
            margin: 2% auto;
            .contain-personal-feedback{
                display: block;
                position: relative;
                background-color: black;
                width: 30%;
                height: 45vh;
                border-radius: 20px;
                white-space: normal; 
                margin: 2%;
                .personal-feedback{
                    width: 86%;
                    height: 86%;
                    display: block;
                    background-color: #0D0D0D;
                    /*margin-top: 5%;*/
                    margin: 7%;
                    border-radius: 20px;
                    .info{
                        width: 100%;
                        display: flex;
                        .avatar {
                            vertical-align: middle;
                            border-radius: 50%;
                            width: 3vw;
                            height: 3vw;
                            margin: 7% 4% auto 7%;
                        }
                        label{
                            font-weight: 600;    
                            font-size: 18px;
                            margin: auto auto 3% 0;
                        }
                    }
                    .rate{
                        margin: 7%;
                        .fa-star{
                            color: gray;
                        }
                        .fa-star.clicked{
                            color: yellow;
                        }
                    }
                    .description{
                        margin: 7%;
                        width: 86%;
                        /*background-color: blue;*/
                    }
                }
            }
        }
        .contain-slide::-webkit-scrollbar {
            display: none;
        }
    }

}
.contain-feedback{
    width: 80%;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin: 10% 10% 5% 10%;
    .title{
        width: 100%;
        font-weight: 900;    
        font-size: 30px;
        display: block;
        margin-bottom: 5%;
    }
    .Rectangle{
        background-color: black;
        width: 100%;
        border-radius: 15px;
        padding: 0.2%;
        .feedback{
            width: 90%;
            margin: 5%;
            display: flex;
            justify-content: space-between;
            background-color: #0D0D0D;
            border-radius: 15px;
            .rate{
                width: 30%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                /*background-color: red;*/
                .contain-star{
                    width: 100%;
                    position: relative;
                    height: 85px;
                    /*background-color: yellow;*/
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    .star{
                        bottom: 0;
                        width: 61%;
                        position: absolute;
                        background-color: red;
                        margin: auto;
                        .fa-star{
                            color: gray;
                            font-size: 40px;
                            cursor: pointer;
                        }
                        .fa-star.clicked{
                            color: yellow;
                        }
                    }
                }
                label{
                    width: 100%;
                    /*background-color: brown;*/
                    position: relative;
                    text-align: center;
                    margin: 3% auto;
                    font-size: 18px;
                    font-weight: 900;   
                }
            }
            .contain-form{
                /*background-color: red;*/
                width: 50%;
                margin: 5%;
                form{
                    display: flex;
                    flex-direction: column;
                    div{
                        margin: 3%;
                        display: flex;
                        justify-content: space-between;
                        
                        label{
                            font-weight: 400;    
                            font-size: 18px;
                        }
                        input{
                            width: 70%;
                            font-family: 'Outfit', sans-serif;
                            outline: none;
                        }
                        .fb{
                                resize: none;
                                font-family: 'Outfit', sans-serif;
                                outline: none;
                            }
                        
                    }
                    button{
                        width: 15%;
                        height: 4.5vh;
                        border: none;
                        background-color: #757575;
                        color: white;
                        font-size: 15px;
                        margin: 3% 3% auto auto;
                        border-radius: 10px;
                        font-family: 'Outfit', sans-serif;
                    }
                }
            }
        }
    }
}
