.booking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 99px;
  position: relative;
  background-color: #0d0d0d;
  border: 1px solid;
  border-color: #0000001a;
}

.booking .group {
  position: relative;
  width: 1440px;
  height: 756px;
}

.booking .frame {
  display: inline-flex;
  flex-direction: column;
  height: 675px;
  align-items: flex-start;
  gap: 50px;
  padding: 30px 120px;
  position: relative;
}

.booking .select-type {
  position: relative;
  width: 547px;
  height: 43px;
  background-color: #d9d9d9;
}

.booking .contain {
  position: relative;
  width: 1200px;
  height: 457px;
  background-color: #ffffff;
}

.booking .status {
  position: absolute;
  width: 657px;
  height: 45px;
  top: 466px;
  left: 324px;
}

.booking .rectangle {
  width: 45px;
  height: 45px;
  left: 612px;
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
}

.booking .div {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
}

.booking .rectangle-2 {
  width: 45px;
  height: 45px;
  left: 306px;
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
}

.booking .book {
  position: absolute;
  width: 432px;
  height: 62px;
  top: 325px;
  left: 810px;
  background-color: #d9d9d9;
}

.booking .time {
  position: absolute;
  width: 433px;
  height: 36px;
  top: 263px;
  left: 811px;
}

.booking .rectangle-3 {
  width: 355px;
  height: 36px;
  left: 76px;
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
}

.booking .text-wrapper {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .date {
  position: absolute;
  width: 434px;
  height: 45px;
  top: 192px;
  left: 810px;
}

.booking .rectangle-4 {
  width: 355px;
  height: 45px;
  left: 77px;
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
}

.booking .text-wrapper-2 {
  top: 4px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  position: absolute;
  left: 0;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .footer {
  display: flex;
  width: 1440px;
  height: 359px;
  align-items: flex-start;
  gap: 214px;
  padding: 66px 120px;
  position: relative;
  background-color: #0d0d0d;
}

.booking .group-2 {
  position: relative;
  width: 485px;
  height: 190px;
}

.booking .text-wrapper-3 {
  top: 0;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  left: 0;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-4 {
  position: absolute;
  top: 57px;
  left: 0;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-5 {
  position: absolute;
  top: 112px;
  left: 0;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-6 {
  position: absolute;
  top: 167px;
  left: 0;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.booking .group-3 {
  position: relative;
  width: 122px;
  height: 135px;
}

.booking .group-4 {
  position: relative;
  width: 129px;
  height: 135px;
}

.booking .text-wrapper-7 {
  position: absolute;
  top: 585px;
  left: 653px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.booking .booking-intro {
  position: absolute;
  top: 339px;
  left: 243px;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .navbar {
  position: absolute;
  width: 1214px;
  height: 95px;
  top: 44px;
  left: 120px;
}

.booking .text-wrapper-8 {
  left: 551px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-9 {
  left: 663px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-10 {
  left: 767px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-11 {
  left: 879px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-12 {
  left: 980px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-13 {
  left: 1113px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .text-wrapper-14 {
  left: 448px;
  position: absolute;
  top: 57px;
  text-shadow: 0px 4px 4px #000000cc;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.booking .logo-white {
  position: absolute;
  width: 174px;
  height: 95px;
  top: 0;
  left: 0;
}
